.menu{
    list-style: none;
    padding: 10px;
    background: #f5b24d; 
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
 }
 
 .menu li a{
     text-decoration: none;
     color: white ;
     padding: 20px;  
     display: block;
 }
 
 .menu li{
     display: inline-block;
     text-align: center;
 }
 
 .menu li a:hover{
     background: #ec8e00; 
 }

 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    background-color:white; 
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #ec8e00;
}

h2{
    color: #60cdff;
}
p{
    padding: 10px 0;
}

.inferior footer{
    text-align: center;
    background: white;
}

.inferior footer img {
    image-orientation: initial;
}

.Text a{
    border: 1px solid;
    background:#f5b24d; 
    border-radius: 50px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    outline: none;
}


.Text a:hover{
    background: #ec8e00; 
}