.cita-item-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

/* Estilos para cada sección de datos */
.cita-section {
  margin-bottom: 10px;
}

/* Estilos para el nombre del dueño */
.cita-nombre-dueño {
  font-weight: bold;
}

/* Estilos para la especie de la mascota */
.cita-especie-mascota {
  color: #555; /* Color gris para la especie de la mascota */
}

/* Estilos para la fecha y la hora */
.cita-fecha-hora {
  color: #777; /* Color gris claro para la fecha y la hora */
}

/* Estilos para el servicio */
.cita-servicio {
  font-style: italic; /* Estilo cursiva para el servicio */
}

/* Estilos para el estado */
.cita-estado {
  font-weight: bold; /* Texto en negrita para el estado */
}
