body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 40px;
}

.logo-image {
  width: 150px;
  height: auto;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 10px;
}

.menu-item {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  margin-right: 30px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 2px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:98%;
}

.header-title {
  font-size: 32px;
  color: #000000;
  margin-bottom: 0;
}

.header-date {
  font-size: 20px;
  color: #000000;
}

.social-media-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.orange-background {
  background-color: #FFA500; /* Orange color */
  padding: 20px; /* Add some padding to create space around the content */
  border-radius: 0px; 
}

.menu-item {
  transition: background-color 0.3s ease; /* Agrega una transición suave para el cambio de color de fondo */
}

.menu-item:hover {
  background-color: orange; /* Cambia el color de fondo a naranja cuando se hace hover */
  padding: 5px 10px; /* Ajusta el padding para que el fondo cubra el área deseada */
  border-radius: 5px; /* Agrega bordes redondeados para suavizar la apariencia */
}